<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="234" connectionString="Database=u0550310_aeroblock; Server=31.31.196.234; port=3306; username=u0550310_kornev; password=18061981Kornev; charset=utf8; Pooling=true;" providerName="MySql.Data.MySqlClient" />
        <add name="rail.Properties.Settings.dfgConnectionString" connectionString="server=localhost;user id=root;password=12345;persistsecurityinfo=True;database=dfg" providerName="MySql.Data.MySqlClient" />
        <add name="rail.Properties.Settings.dfgConnectionString1" connectionString="server=localhost;user id=root;password=12345;database=dfg" providerName="MySql.Data.MySqlClient" />
        <add name="rail.Properties.Settings.dfgConnectionString2" connectionString="server=localhost;user id=root;password=12345;persistsecurityinfo=True;database=dfg;allowuservariables=True" providerName="MySql.Data.MySqlClient" />
        <add name="rail.Properties.Settings.spslogger" connectionString="server=localhost;user id=root;database=spslogger" providerName="MySql.Data.MySqlClient" />
        <add name="rail.Properties.Settings.spsloggerConnectionString" connectionString="server=localhost;user id=root;password=12345;database=spslogger" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
